{% extends 'base.html' %} 
{% block title %}Privacy Policy| Vetri{% endblock %}
{% block meta_description %}
Privacy Policy for online IT courses. Get course details, guidance, and start your career today.
{% endblock %}

{% block content %}
<main class="bg-gray-50 min-h-screen py-4">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="bg-white rounded-t-2xl  shadow-lg">
            <h1 class="text-2xl font-semibold text-center">
                {{ policy.title|default:"Privacy Policy" }}
            </h1>
        </div>

        <div class="bg-white rounded-b-2xl shadow-lg px-8 py-12 border border-gray-100">
    
            {% if policy and policy.content %}
                <ul class="list-disc ml-5 md:ml-8 space-y-4 text-gray-700 text-[15px] md:text-[16px] leading-relaxed marker:text-[#6C2CB1]">
                    
                    {% for line in policy.content.splitlines %}
                        
                        {% if line.strip %}
                            <li>{{ line }}</li>
                        {% endif %}
                        
                    {% endfor %}
                    
                </ul>
            {% else %}
                <p class="text-center text-gray-500 italic">
                    Privacy Policy is currently being updated. Please check back later.
                </p>
            {% endif %}

        </div>

    </div>
</main>
{% endblock %}